
 body, html {
    height: 100%;
    font-family:'Eagle Lake', cursive;
}
 
 .bg { 
    background-image: url("../images/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header {
   color: white;
    width: 100%;
    font-size: 50px;
    text-align: center;
  padding: 10px;
}

h1 {
    font-size: 30px;
}

#directions{
    color: white;
    padding-left: 50px;
    padding-right: 100px;
    background-color: black;
    background: linear-gradient(to right, black, purple);
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 25px;
}

p {
    font-size: 18px
}

#random, #winslosses, #totalscore {
background-color: purple;
background: linear-gradient(purple, cyan);
width: 180px;
height: 180px;
padding-left: 10px;
padding-top: 20px;
margin-left: 50px;
float: left;
border-radius: 25px;
}


img {
    width: 130px;
    height: 130px;
    margin-left: 30px;
    margin-top: 20px;
}


